@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nerko One', cursive;
    font-size: 2rem;
}
main{
    background: skyblue;
}
ul{
    list-style-type: none;
    padding: 2rem;
    text-align: right;
    background-color: lightgreen;
    margin: 0;
}
li{
    display: inline-block;
    
}
